:root {
  font-size: 10px;
  --bg-color: #ccc;
  --white: #ffffff;
  --black: #515151;
  --black-hover: #303030;
  --black-opacity: rgba(81, 81, 81, 0.4);
  --border: #eee;
  --gray: #ccc;
  --gray-f6: #f6f6f6;
  --shadow-opacity: rgba(0, 0, 0, 0.125);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Seto";
  src: url("../font/Seto.eot");
  /* IE9 */
  src: url("../font/Seto.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */

    url("../font/Seto.woff") format("woff"),
    /* chrome、firefox */
    url("../font/Seto.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../font/Seto.svg#Seto") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Seto";
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--bg-color);
  transition: background-color 2s;
}

a {
  text-decoration: none;
  color: var(--black);
  margin: 0 .4rem;
}

a:hover {
  color: var(--black-hover);
}

#app {
  outline: none;
  overflow: hidden;
}